<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Talion</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		var number = Math.floor((Math.random() * 8) + 1);
		$("head").append("<style> body { background-image: url(fond" + number + ".jpg); background-repeat: no-repeat; background-size: cover; } </style>");
	</script>
	<style>
		@media (max-width: 1365px) {
			body {
				background: none;
				background-color: rgb(212, 185, 144);
			}
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/"><img src="talionIco.png" class="img-fluid"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" id="linkInscription">
				</li>
				<li class="nav-item" id="linkUserList">
				</li>
				<li class="nav-item" id="linkRefundRequest">
				</li>
				<li class="nav-item" id="linkRefund">
				</li>
				<li class="nav-item" id="linkRaidLead">
				</li>
				<li class="nav-item" id="linkEco">
				</li>
			</ul>
			<form id="connexionForm" class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" id="pseudo" type="text" placeholder="Pseudo" aria-label="Pseudo">
				<input class="form-control mr-sm-2" id="password" type="password" placeholder="Password"
					aria-label="Password">
				<button id="btnConnexion" class="btn btn-outline-success my-2 my-sm-0"
					onclick="connect()">Connexion</button>
			</form>
		</div>
	</nav>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
		socket.on('ConnexionSucess', function (data) {
			$('#pseudo').remove();
			$('#password').remove();
			$('#btnConnexion').remove();
			$('#connexionForm').append('<button id="btnDeconnexion" onclick="deco()" class="btn btn-outline-danger my-2 my-sm-0">Déconnexion</button>');
		});
		socket.on('WrongPassword', function (data) { $('#password').attr("placeholder", "mauvais mot de passe"); });
		socket.on('WrongPseudo', function (data) { $('#pseudo').attr("placeholder", "le Pseudo " + data.pseudo + " n'existe pas"); });
		socket.on('session', function (data) {
			$('#linkRefundRequest').empty();
			$('#linkUserList').empty();
			$('#linkRefund').empty();
			$('#linkInscription').empty();
			$('#linkRaidLead').empty();
			$('#linkEco').empty();
			if (data != null) {
				$('#pseudo').remove();
				$('#password').remove();
				$('#btnConnexion').remove();
				$('#connexionForm').append('<button id="btnDeconnexion" onclick="deco()" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Déconnexion</button>');
				$('#linkRefundRequest').append('<a class="nav-link" href="/refundRequest">Demander un remboursement</a>');
				if (data.Administrateur == 'true') {
					$('#linkUserList').append(' <a class="nav-link" href="/users">Liste des Utilisateurs</a> ');
					$('#linkRefund').append(' <a class="nav-link" href="/refund">Effectuer un remboursement</a> ');
					$('#linkInscription').append(' <a class="nav-link" href="/inscription">Créer Utilisateur</a> ');
					$('#linkRaidLead').append(' <a class="nav-link" href="/raidLead">RaidLead</a> ');
					$('#linkEco').append(' <a class="nav-link" href="/economie">Eco</a> ');
				}
				else if (data.Rembourseur == 'true') { $('#linkRefund').append(' <a class="nav-link" href="/refund">Effectuer un remboursement</a> '); }
				else if (data.Recruteur == 'true') { $('#linkInscription').append(' <a class="nav-link" href="/inscription">Créer Utilisateur</a> '); }
				else if (data.RaidLead == 'true') { $('#linkRaidLead').append(' <a class="nav-link" href="/raidLead">RaidLead</a> '); }
				else if (data.ResponsableEco == 'true') { $('#linkEco').append(' <a class="nav-link" href="/economie">Eco</a> '); }
			}
			socket.on('sessionDestroy', function () { location.reload(); });
		});

		$(document).ready(function () {
			socket.emit('documentReady');
		});

		function deco() {
			socket.emit('deconnexionUser');
		}
		function connect() {
			socket.emit('connexionUser', { pseudo: $("#pseudo").val(), password: $("#password").val() });
		}
	</script>