<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Talion</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>

</head>

<body>
	<div id="test"></div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Talion</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/inscription">Créer Utilisateur</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>

			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" id="pseudo" type="text" placeholder="Pseudo" aria-label="Pseudo">
				<input class="form-control mr-sm-2" id="password" type="password" placeholder="Password"
					aria-label="Password">
				<button id="btnConnexion" class="btn btn-outline-success my-2 my-sm-0" type="submit">Connexion</button>
			</form>
		</div>
	</nav>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
		socket.on('connexionSucess', function () { });
	</script>

	<script>
		$(document).ready(function () {
			$("#btnConnexion").click(function (event) {
				event.preventDefault();
				socket.emit('connexionUser', { pseudo: $("#pseudo").val(), password: $("#password").val() });
			});
		});
	</script>