<form>
    <div class="form-group">
        <input type="text" class="form-control" id="userPseudo" placeholder="Pseudo de l'utilisateur">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="userPass" placeholder="Mot de passe de l'utilisateur">
    </div>
</form>
<button type="button" id="isAdmin" class="btn btn-secondary" value="false">Administrateur</button>
<button type="button" id="isRembourseur" class="btn btn-secondary" value="false">Rembourseur</button>
<button type="button" id="isRecruteur" class="btn btn-secondary" value="false">Recruteur</button>
<button type="button" id="isRaidLead" class="btn btn-secondary" value="false">Raid Lead</button>
<button type="button" id="isEco" class="btn btn-secondary" value="false">Responsable Economie</button>
<button id="btnCreateUser" type="submit" class="btn btn-primary">Créer</button>

<script>
    $(document).ready(function () {
        $("#btnCreateUser").click(function (event) {
            event.preventDefault();
            socket.emit('createUser', { pseudo: $("#userPseudo").val(), password: $("#userPass").val(), isAdmin: $("#isAdmin").val(), isRembourseur: $("#isRembourseur").val(), isRecruteur: $("#isRecruteur").val(), isRaidLead: $("#isRaidLead").val(), isEco: $("#isEco").val() });
        });
    });

    $("button").click(function (event) {
        event.preventDefault();
        if ($(this).attr('class') == 'btn btn-success') {
            $(this).attr('class', 'btn btn-secondary');
            $(this).attr('value', false);
        } else if ($(this).attr('class') == 'btn btn-secondary') {
            $(this).attr('class', 'btn btn-success');
            $(this).attr('value', true);
        }
    });
</script>