<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-dark btn-lg btn-block mt-3 mb-3">Création d'un utilisateur</button>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control btn-lg btn-block text-center" id="userPseudo"
                        placeholder="Pseudo de l'utilisateur">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control btn-lg btn-block text-center" id="userPass"
                        placeholder="Mot de passe de l'utilisateur">
                </div>
            </form>

            <button id="btnCreateUser" type="submit" class="btn btn-primary btn-lg btn-block">Créer</button>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#btnCreateUser").click(function (event) {
            event.preventDefault();
            socket.emit('createUser', { pseudo: $("#userPseudo").val(), password: $("#userPass").val() });
        });
    });

    socket.emit('pageLoading', { right: "Recruteur" });
    
    $("#userPseudo").keyup(function () {
        socket.emit('findUser', { pseudo: $("#userPseudo").val() });
    });

    socket.on('userDidntExist', function () {
        console.log('userDidntExist');
        $('#btnCreateUser').empty();
        $('#btnCreateUser').prop('disabled', false);
        $('#btnCreateUser').text('Créer');
    });

    socket.on('userExist', function (data) {
        console.log('userExist');
        $('#btnCreateUser').empty();
        $('#btnCreateUser').prop('disabled', true);
        $('#btnCreateUser').text('Le pseudo ' + data.pseudo + ' existe déjà. Veuillez en Changer.');
    });
</script>