<div id="view"></div>

<script>
    $(document).ready(function () {
        socket.emit('requireUsers', {});
    });

    socket.on('resultUsers', function (datas) {
        var i = 0;
        datas.forEach(function (data) {
            console.log(data);
            var result = '<div class="container mt-3">';
            var result = '<div class="row">';
            var result = '<div class="offset-md-2 col-md-8 col-xs-12 mt-3">';
            result += '<div id="' + data.pseudo + '">';
            result += '<div class="card text-white bg-dark border-secondary"><h5 class="card-header text-center">' + data.pseudo + '</h5><div class="card-body">';
            result += '<button type="button" id="isAdmin" class="mt-1 mb-1 btn btn-';
            if (data.Administrateur == 'true') { result += 'success'; } else { result += 'secondary'; }
            result += '" value="' + data.Administrateur + '" onclick="updateUser(\'' + data.pseudo + '\',\'Administrateur\',\'' + data.Administrateur + '\')">Administrateur</button> ';
            result += '<button type="button" id="isRembourseur" class="mt-1 mb-1 btn btn-';
            if (data.Rembourseur == 'true') { result += 'success'; } else { result += 'secondary'; }
            result += '" value="' + data.Rembourseur + '" onclick="updateUser(\'' + data.pseudo + '\',\'Rembourseur\',\'' + data.Rembourseur + '\')">Rembourseur</button> ';
            result += '<button type="button" id="isRecruteur" class="mt-1 mb-1 btn btn-';
            if (data.Recruteur == 'true') { result += 'success'; } else { result += 'secondary'; }
            result += '" value="' + data.Recruteur + '" onclick="updateUser(\'' + data.pseudo + '\',\'Recruteur\',\'' + data.Recruteur + '\')">Recruteur</button> ';
            result += '<button type="button" id="isRaidLead" class="mt-1 mb-1 btn btn-';
            if (data.RaidLead == 'true') { result += 'success'; } else { result += 'secondary'; }
            result += '" value="' + data.RaidLead + '" onclick="updateUser(\'' + data.pseudo + '\',\'RaidLead\',\'' + data.RaidLead + '\')">Raid Lead</button> ';
            result += '<button type="button" id="isEco" class="mt-1 mb-1 btn btn-';
            if (data.ResponsableEco == 'true') { result += 'success'; } else { result += 'secondary'; }
            result += '" value="' + data.ResponsableEco + '" onclick="updateUser(\'' + data.pseudo + '\',\'ResponsableEco\',\'' + data.ResponsableEco + '\')">Responsable Economie</button> ';
            result += '<button type="button" class="mt-1 mb-1 btn btn-danger" value="false" onclick="supprimerUser(\'' + data.pseudo + '\')">Supprimer</button> ';
            result += '</div>';
            result += '</div>';
            result += '</div>';
            result += '</div>';
            result += '</div>';
            result += '</div>';
            $("#view").append(result);
        });
    });

    $(document).ready(function () {
    });

    socket.on('connexionUser', function (data) {
        console.log(data);
    });

    function supprimerUser(pseudoUser) {
        socket.emit('supprimerUser', { pseudo: pseudoUser });
        $("#" + pseudoUser).remove();
    }

    function updateUser(pseudoUser, attribut, actualValue) {
        var value = 'true';
        if (actualValue == 'true') {
            value = 'false';
        }
        socket.emit('updateUser', { pseudo: pseudoUser, attribut: attribut, value: value });
    }

    socket.on('userUpdated', function (data) {
        var result = '<div class="card text-white bg-dark border-secondary"><h5 class="card-header text-center">' + data.pseudo + '</h5><div class="card-body">';
        result += '<button type="button" id="isAdmin" class="mt-1 mb-1 btn btn-';
        if (data.Administrateur == 'true') { result += 'success'; } else { result += 'secondary'; }
        result += '" value="' + data.Administrateur + '" onclick="updateUser(\'' + data.pseudo + '\',\'Administrateur\',\'' + data.Administrateur + '\')">Administrateur</button> ';
        result += '<button type="button" id="isRembourseur" class="mt-1 mb-1 btn btn-';
        if (data.Rembourseur == 'true') { result += 'success'; } else { result += 'secondary'; }
        result += '" value="' + data.Rembourseur + '" onclick="updateUser(\'' + data.pseudo + '\',\'Rembourseur\',\'' + data.Rembourseur + '\')">Rembourseur</button> ';
        result += '<button type="button" id="isRecruteur" class="mt-1 mb-1 btn btn-';
        if (data.Recruteur == 'true') { result += 'success'; } else { result += 'secondary'; }
        result += '" value="' + data.Recruteur + '" onclick="updateUser(\'' + data.pseudo + '\',\'Recruteur\',\'' + data.Recruteur + '\')">Recruteur</button> ';
        result += '<button type="button" id="isRaidLead" class="mt-1 mb-1 btn btn-';
        if (data.RaidLead == 'true') { result += 'success'; } else { result += 'secondary'; }
        result += '" value="' + data.RaidLead + '" onclick="updateUser(\'' + data.pseudo + '\',\'RaidLead\',\'' + data.RaidLead + '\')">Raid Lead</button> ';
        result += '<button type="button" id="isEco" class="mt-1 mb-1 btn btn-';
        if (data.ResponsableEco == 'true') { result += 'success'; } else { result += 'secondary'; }
        result += '" value="' + data.ResponsableEco + '" onclick="updateUser(\'' + data.pseudo + '\',\'ResponsableEco\',\'' + data.ResponsableEco + '\')">Responsable Economie</button> ';
        result += '<button type="button" class="mt-1 mb-1 btn btn-danger" value="false" onclick="supprimerUser(\'' + data.pseudo + '\')">Supprimer</button> ';
        result += '</div>';
        result += '</div>';
        $("#" + data.pseudo).empty().append(result);
    });

</script>